.user {
    background-color: white;
    border-radius: 25px;
    margin: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
}

.userName {
    position: relative;
    left: 12.5px;
}